.header img {
  width: 200px;
}

.header {
  background-color: brown;
  height: 40px;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-item {
}

ul li {
  display: inline;
}

.btn_news {
  background-color: #f1c40f;
  color: black;
  display: block;
  border: none;
  height: 30px;
  width: 100px;
  text-transform: uppercase;
  margin: auto;
}

.newsletter {
  text-align: center;
  margin-bottom: 20px;
}

.youtube {
  text-align: center;
}

.footer {
  background-color: gray;
  height: 300px;
}
